<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IForecastWCF" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:29832/ForecastWCF.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IForecastWCF" contract="ForecastServiceReference.IForecastWCF"
                name="BasicHttpBinding_IForecastWCF" />
        </client>
    </system.serviceModel>
</configuration>
